option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm install -g @angular/cli"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    ProxyServer: apache
    GzipCompression: true
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "index.js"
    ProxyServer: apache
    GzipCompression: true

