<form [formGroup]="uploadForm" class="card card_full-width">
  <label><span>Video-Datei</span>
  <input name="video" type="file" formControlName="file" (change)="updateFile($event)" />
  </label>
  <label><span>Poster</span>
  <input name="poster" type="file" formControlName="poster" (change)="updatePoster($event)" />
  </label>
  <label><span>Titel</span>
  <input type="text" formControlName="title" />
  </label>
  <button (click)="sendForm()">Absenden</button>
</form>
<hr>
<div *ngFor="let file of fileList" class="card">
  <h2 class="card-title">{{file.title}}</h2>

  <div class="card-content">

    <img *ngIf="file.isImage" [src]="getFileSrc(file.filePath)" class="card-image" />
    <video *ngIf="file.isVideo" [src]="getFileSrc(file.filePath)" width="300" height="250" [poster]="getFileSrc(file.posterFilePath)"
      controls preload="auto">
      <source [src]="getFileSrc(file.filePath)" type="video/mp4" />
    </video>
  </div>
</div>