<div class="header">

  <div class="header-logo">
    <a routerLink="/">
      <img src="assets/logo.png" />
    </a>
  </div>

  <input type="search" class="header-search" />

  <div *ngIf="user?.isLoggedIn" class="header-controls">
    <a routerLink="/create" class="header-control">
      <i class="material-icons">cloud_upload</i>
    </a>
    <div class="header-control">
      <span class="label-with-icon">{{user.userName}}</span>

      <i class="material-icons">settings</i>
    </div>
  </div>
  <div *ngIf="!user?.isLoggedIn" class="header-controls">

    <div class="header-control {{popupVisible?'active':''}}">
      <i class="material-icons" (click)="popupVisible=!popupVisible">person</i>
    </div>
    <div class="popup-content login {{popupVisible?'active': ''}}">
      <div [formGroup]="loginForm">
        <h4>Anmelden</h4>
        <input type="text" formControlName="userName" />
        <input type="password" formControlName="password" />
        <button (click)="register()">Registrieren</button> <button (click)="login()">Login</button>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>